<div id="loginView" class="login-page">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
      <div class="row">
        <img src="../../img/logo_fifco_white.png" class="col-md-10 col-md-offset-1 logo" />
      </div>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="Usuario">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded" ui-sref="home">INGRESAR</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <button type="button" ui-sref="register" class="btn btn-white btn-outline btn-lg btn-rounded">REGISTRARSE</button>
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>
