
#loginView {
  background-color: #2279AA;
  height: 100%;

  .logo {
    padding: 4em 0 3em 0;
    width: 100%;
  }

  button {
    margin-top: 3em;
    border-radius: 0;
    background-color: #3990b7;
    width: 100%;
    color: #ffffff;
  }

  .input-underline {
    /* !important to override bootstrap styles */
    margin-bottom: 2em !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-bottom: 2px solid #ffffff !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    width: 80% !important;
    margin-left: 10% !important; 
    &::-moz-placeholder {
      color: #ffffff !important;
    }
    &::-ms-input-placeholder {
      color: #ffffff !important;
    }
    &::-webkit-input-placeholder {
      color: #ffffff !important;
    }

    &:focus {
      border-bottom: 2px solid #ffffff !important;
      box-shadow: none !important;
    }

  }

}
