<div id="registerView" class="login-page">
  <div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
      <div class="row">
        <img src="../../img/logo_fifco_white.png" class="col-md-10 col-md-offset-1 logo" />
      </div>
      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" id="name-input"
             placeholder="e.g. Jason Smith">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" placeholder="e.g. jason.smith@gmail.com" ng-model="email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-underline input-lg" id="username-input"
             placeholder="e.g. jason_smith">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="password-input"
             placeholder="*****" ng-model="password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <button ng-click="vm.registerUser(email, password)" class="btn btn-white btn-outline btn-lg btn-rounded">REGISTRO</button>
          </div>
        </div>
      </form>
    </div>  
  </div>
</div>
