<div class="image-option-container" ng-class="{selected: vm.selected}" ng-click="vm.toggleSelected()" ng-cloak>
  <img
    class="image-option"
    ng-class="{selected: vm.selected}"
    ng-src="{{vm.src}}"
    alt="Option {{vm.text}}">
  <span ng-show="vm.selected" class="glyphicon glyphicon-ok image-option-icon"></span>
  <span class="image-option-text">{{vm.text}}</span>
</div>
