@import '../../../common/less/variables';

.image-option-container {
  margin: 5px 5px 5px 5px;
  background-color: #005c99;
  display: inline-block;
  height: 200px;
  width: 140px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.selected {
      -webkit-filter: grayscale(50%);
    }
  .image-option {
    height: 60px;
    margin-top: 50%;
    &.selected {
      height: 70px;
      margin-top: 43%;
    }
  }
  .image-option-text, .image-option-icon {
    position: absolute;
    color: white;
  }
  .image-option-text {
    bottom: 5px;
    right: 5px;
  }
  .image-option-icon {
    top: 5%;
    left: 65%;
    &:before {
      font-size: xx-large;
    }
  }
}
