<nav-header></nav-header>
<div class="header-text padding-top-2 margin-top2">
  <h4 class="align-left margin-left-15">NUEVO VIAJE</h4>
</div>
<ui-view class="container padding-top-2 padding-bottom center-x"></ui-view>
<step-indicator></step-indicator>
