<div class="row center header-text">
  <h2>AREA SOLICITANTE</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/vinos-y-destilados.png" text="Vinos y destilados" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/distribucion.png" text="Distribución" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/almacenes.png" text="Almacenes" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/plantas.png" text="Plantas" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/bodegas.png" text="Bodegas" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/serv-generales.png" text="Servicios Generales" model="vm.trip.selectedArea"></image-option>
    <image-option src="../../../img/new-trip/refrigeracion.png" text="Refrigeración" model="vm.trip.selectedArea"></image-option>
  </div>
</div>
