<div class="row center header-text">
  <h2>TIPO DE SERVICIO</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/pick-up.png" text="Transporte" model="vm.trip.serviceType"></image-option>
    <image-option src="../../../img/new-trip/producto-terminado.png" text="Almacenes" model="vm.trip.serviceType"></image-option>
  </div>
</div>
<div class="row center header-text margin-top-5">
  <h2>DESCRIPCI&Oacute;N DE CARGA</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/fragil.png" text="Frágil" model="vm.trip.freight.description"></image-option>
    <image-option src="../../../img/new-trip/producto-terminado.png" text="Producto Terminado" model="vm.trip.freight.description"></image-option>
    <image-option src="../../../img/new-trip/vinos-y-destilados.png" text="V&D" model="vm.trip.freight.description"></image-option>
    <image-option src="../../../img/new-trip/refrigeracion.png" text="Refrigeradores" model="vm.trip.freight.description"></image-option>
    <image-option src="../../../img/new-trip/materia-prima.png" text="Materia Prima" model="vm.trip.freight.description"></image-option>
    <image-option src="../../../img/new-trip/equipo-especial.png" text="Equipo Especial" model="vm.trip.freight.description"></image-option>
  </div>
</div>
<div class="row center header-text margin-top-5">
  <h2>DESCRIPCIÓN ESPECÍFICA</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <textarea type="text" class="col-xs-8 col-xs-offset-2" ng-model="vm.trip.freight.annotations" placeholder="e.g. Welcome to ooty nice to meet you"></textarea>
  </div>
</div>
