<div class="row center header-text">
  <h2>DIMENSI&Oacute;N DEL TRANSPORTE</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/1-ton.png" text="1 ton" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/1-5-ton.png" text="1.5 ton" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/3-5-ton.png" text="3.5 ton" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/4-ton.png" text="4 ton" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/7-ton.png" text="7 ton" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/panel.png" text="Panel" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/pick-up.png" text="Pick up" model="vm.trip.transport.dimension"></image-option>
    <image-option src="../../../img/new-trip/moto.png" text="Moto" model="vm.trip.transport.dimension"></image-option>
  </div>
</div>
<div ng-show="vm.trip.transport.dimension !== 'Moto'" class="row center header-text margin-top-5">
  <h2>TIPO DE TRANSPORTE</h2>
</div>
<div ng-show="vm.trip.transport.dimension !== 'Moto'" class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/rampa.png" text="Rampa" model="vm.trip.transport.type"></image-option>
  </div>
</div>
<div class="row center header-text margin-top-5">
  <h2>DESCRIPCIÓN ESPECÍFICA</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <textarea type="text" class="col-xs-8 col-xs-offset-2" ng-model="vm.trip.transport.description"
           placeholder="e.g. Welcome to ooty nice to meet you"></textarea>
  </div>
</div>
<div ng-show="vm.getPalletsToUse() > 0" class="row center header-text margin-top-5">
  <h2>ESTIMACI&Oacute;N DE ESPACIO A UTILIZAR</h2>
</div>
<div ng-show="vm.getPalletsToUse() > 0" class="row center">
  <div class="col col-xs-offset-4 col-xs-4 margin-top-1">
    <input ng-model="vm.trip.transport.palletsToUse" type="range" min="0" max="{{vm.getPalletsToUse()}}" />
    Paletas a utilizar: {{vm.trip.transport.palletsToUse}} | Paletas disponibles: {{vm.getPalletsToUse()}}
  </div>
</div>
