<div class="row center header-text">
  <h2>MODELOS DE SERVICIO</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/transparent.png" text="Con Chofer" model="vm.trip.driverType"></image-option>
    <image-option src="../../../img/new-trip/transparent.png" text="Sin Chofer" model="vm.trip.driverType"></image-option>
    <image-option src="../../../img/new-trip/transparent.png" text="Chambero" model="vm.trip.driverType"></image-option>
  </div>
</div>
<div class="row center margin-top-5">
  <h3 class="header-text">TIEMPO DE SERVICIOS</h3>
  <div class="col col-xs-4 col-xs-offset-4">
    <div class="input-group">
      <input type="text" class="form-control no-radius" aria-describedby="basic-addon2" ng-model="vm.trip.expectedTime.value">
      <span class="input-group-addon no-radius">
        <input id="hours-radio-btn" name="timeRadioBtn" type="radio" ng-model="vm.trip.expectedTime.type" checked />
        <label for="hours-radio-btn">Horas</label>
        <input id="days-radio-btn" name="timeRadioBtn" type="radio" ng-model="vm.trip.expectedTime.type" />
        <label for="days-radio-btn">D&iacute;as</label>
        <input id="weeks-radio-btn" name="timeRadioBtn" type="radio" ng-model="vm.trip.expectedTime.type" />
        <label for="weeks-radio-btn">Semanas</label>
        <input id="months-radio-btn" name="timeRadioBtn" type="radio" ng-model="vm.trip.expectedTime.type" />
        <label for="months-radio-btn">Meses</label>
      </span>
    </div>
  </div>
</div>
<div class="row center margin-top-5">
  <div class="col col-xs-8 col-xs-offset-2">
    <leaflet name="newTrip" width="100%" height="300px" latitude="9.6165768" longitude="-84.1442865" actual-zoom="7" min-zoom="6" max-zoom="18" origin="vm.origin" destination="vm.destination"></leaflet>
    <div class="col col-xs-6">
      <h3 class="header-text">RECOGER</h3>
      <div class="form-group">
        <input class="form-control no-radius" type="text" class="col-xs-12" disabled value="{{vm.origin.geocode.properties.display_name}}" placeholder="Lugar" />
      </div>
      <div class="form-group">
        <p class="input-group">
          <input type="text" class="form-control no-radius" uib-datepicker-popup="{{vm.originDatepicker.format}}" ng-model="vm.trip.origin.date" is-open="vm.originDatepicker.popup.opened" datepicker-options="vm.originDatepicker.options" ng-required="true" close-text="Close" alt-input-formats="vm.originDatepicker.altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default no-radius" ng-click="vm.originDatepicker.popup.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="form-group">
        <input class="form-control no-radius" ng-model="vm.trip.origin.personInChange.name" type="text" class="col-xs-12" placeholder="Colaborador" />
      </div>
      <div class="form-group">
        <input class="form-control no-radius" ng-model="vm.trip.origin.personInChange.specificAddress" type="text" class="col-xs-12" placeholder="Se&ntilde;as" />
      </div>
    </div>
    <div class="col col-xs-6">
      <h3 class="header-text">ENTREGAR</h3>
      <div class="form-group">
        <input class="form-control no-radius" type="text" class="col-xs-12" disabled value="{{vm.destination.geocode.properties.display_name}}" placeholder="Lugar" />
      </div>
      <div class="form-group">
        <p class="input-group">
          <input type="text" class="form-control no-radius" uib-datepicker-popup="{{vm.destinationDatePicker.format}}" ng-model="vm.trip.destination.date" is-open="vm.destinationDatePicker.popup.opened" datepicker-options="vm.destinationDatePicker.options" ng-required="true" close-text="Close" alt-input-formats="vm.destinationDatePicker.altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default no-radius" ng-click="vm.destinationDatePicker.popup.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <div class="form-group">
        <input class="form-control no-radius" ng-model="vm.trip.destination.personInChange.name" type="text" class="col-xs-12" placeholder="Colaborador" />
      </div>
      <div class="form-group">
        <input class="form-control no-radius" ng-model="vm.trip.destination.personInChange.specificAddress" type="text" class="col-xs-12" placeholder="Se&ntilde;as" />
      </div>
    </div>
  </div>
</div>
<div class="row center margin-top-5">
  <button ng-click="vm.generateTicket()" class="btn btn-primary btn-sm no-radius">GENERAR TICKET</button>
</div>

