<div class="row center header-text">
  <h2>DIMENSI&Oacute;N DE EQUIPO REQUERIDO</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <image-option src="../../../img/new-trip/pesado.png" text="Pesado" model="vm.trip.equipment.dimension"></image-option>
    <image-option src="../../../img/new-trip/refrigeracion.png" text="Refrigerado" model="vm.trip.equipment.dimension"></image-option>
    <image-option src="../../../img/new-trip/seco.png" text="Seco" model="vm.trip.equipment.dimension"></image-option>
  </div>
</div>
<div class="row center header-text margin-top-5">
  <h2>DESCRIPCIÓN ESPECÍFICA</h2>
</div>
<div class="row center">
  <div class="col col-xs-12 margin-top-1">
    <textarea type="text" class="col-xs-8 col-xs-offset-2" ng-model="vm.trip.equipment.description"
           placeholder="e.g. Welcome to ooty nice to meet you"></textarea>
  </div>
</div>
