.main{
  background: url(../../img/fifco-truck.png) no-repeat center center fixed;
  width: 100% !important;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body-container {
  background-color: #dadada;
  margin: 2em 5em 2em 0;
}
.padding{
  padding: 1em 1em 0 1em;
}
.title{
  color: #555 !important;
  text-align: center;
}
.btn-apply-width{
  width: 100% !important; /*overwrite default width*/
}
.btn-no-radius{
  border-radius: 0px !important;/*overwrite bootstrap default styles*/
  -webkit-appearance: none;
}

.panel-default > .panel-heading{
  border-radius: 0px;
}
.panel-default{
  border-radius: 0px !important;
}
