<nav-header></nav-header>
<leaflet name="map" width="100%" height="100%" latitude="9.6165768" longitude="-84.1442865" actual-zoom="8" min-zoom="7" max-zoom="18" marker-list="vm.markerList"></leaflet>
