#home-view {
  width: 70%;
  max-width: 800px;
  height: 85%;

  .header-text {
    font-size: 1.5em;
  }

  button {
    float: right;
  }

  .row {
    padding: 10px;
  }

  .list-group-item {
    border-top: 1px solid grey;
    border-left: none;
    border-right: none;
    border-radius: 0 !important;
  }

  .list-group-item-heading {
    font-size: 1em;
    font-weight: bold;
  }

  ul.list-group {
    overflow: scroll;
    height: 70%;
  }

  .full-width {
    width: 100%;
  }
}

#map { height: 85%; }
