<div class="carriers-list center-x margin-top-5">
  <h1 class="header-text">Pre-seleccionados</h1>
  <div class="margin-top-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Representante</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="preselected in vm.carriers | filter:vm.preselectedFilter" ui-sref="admin.pre-selected-details({id: preselected.$id})">
          <th scope="row">{{$index + 1}}</th>
          <td>{{preselected.companyName || '-' }}</td> <td>{{preselected.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>