<div class="row step-indicator-widget navbar white-bg navbar-fixed-bottom">
  <div class="col-xs-11 col-sm-11 col-md-11">
    <wizard on-finish="finishedWizard()">
      <wz-step wz-title="Area Solicitante"></wz-step>
      <wz-step wz-title="Tipos de Servicios"></wz-step>
      <wz-step wz-title="Dimensión del Equipo"></wz-step>
      <wz-step wz-title="Dimensión del Transporte"></wz-step>
      <wz-step wz-title="Modelo de Servicios"></wz-step>
    </wizard>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1">
    <span ng-hide="vm.counter === 5" ng-click="vm.next()" class="glyphicon glyphicon-chevron-right widget-arrow right-arrow"></span>
  </div>
</div>
