@import '../../../../node_modules/angular-wizard/src/angular-wizard';

@step-color: #26AAE1;
@widget-margin: 10px 0 30px;

.steps-indicator {
  margin: @widget-margin;
  font-size: xx-small;
  li.done a:before,
  li.editing a:before {
    background-color: @step-color;
  }
  &:before { // Line between steps
    left: calc(11%) !important;
    right: calc(11%) !important;
  }
}

.widget-arrow {
  color: @step-color;
  font-size: xx-large;
  margin: @widget-margin;
  &.right-arrow {
    float: left;
  }
  &.left-arrow {
    float: right;
  }
}

.white-bg {
  background-color: #ffffff;
}
