.btn-fifco-primary {
  width: @btn-width;
  background-color: @btn-colour;
  border-color: @btn-colour;
  &:hover{
    color: @btn-colour;
    background-color: @white-1;
    border-color: @btn-colour;
  }
}

.btn-fifco-secondary {
  width: @btn-width-secondary;
  background-color: @white-1;
  border-color: @btn-colour-secondary;
  color: @btn-colour-secondary;
}

.btn-fifco-balanced {
  color: white;
  background-color: #33cd5f;
  border-radius: 0;
  &:hover, &:focus {
    color: white;
    background-color: #28a54c;
  }
}

.header-text{
  color: @btn-colour-secondary;
}

