.center-xy {
  display: block;
  margin: auto;
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-blue {
  color: #005c99
}

.text-bold {
  font-weight: bold;
}

.center-x {
  margin: 0 auto;
  float: none !important;
  display: block !important;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-top-2{
  margin-top: 2%;
}

.margin-right-5{
  margin-right: 5%;
}

.margin-bottom-5 {
  margin-bottom: 5%;
}

.margin-left-15{
  margin-left: 15%;
}

.padding-top-2 {
  padding-top: 2%;
}

.center{
  text-align: center;
}

.align-left{
  text-align: left;
}
