.popover-content {
  width: 230px;
}
#popoverTemplate {
  width: inherit;
  img {
    border: 2px solid #005c99;
    width: 150px;
    height: 150px;
    margin-left: 10px
  }
  .ec-stars-wrapper {
    padding-left: 35px;
    font-size: 0;
    display: inline-block;
  } 
  .ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    font-size: 2rem;
    color: #888;
  }
  .ec-stars-wrapper:hover a {
    color: rgb(39, 130, 228);
  }
  .ec-stars-wrapper > a:hover ~ a {
    color: #888;
  }
  .ec-stars-wrapper .selected {
    color: rgb(39, 130, 228);
  }
}