<script type="text/ng-template" id="popoverTemplate.html">
  <div id="popoverTemplate" class="container">
    <div class="row">
      <img class="img-circle" src="http://truckdriverresume.com/wp-content/uploads/2015/03/truck-driver-resume.png" alt="">
    </div>
    <div class="row">
      <div class="col">
        <h4> Henry González Mora</h4>
        <small><cite title="Tierra Blanca, Cartago">Tierra Blanca, Cartago <i class="glyphicon glyphicon-map-marker"></i></cite></small>
        <p>
          <i class="glyphicon glyphicon-phone"></i> +506 89128929<br>
          <i class="glyphicon glyphicon-envelope"></i> hgonzalez@gash.com<br>
          <i class="glyphicon glyphicon-gift"></i> 02 de Junio de 1988
        </p>
      </div>
    </div>
  </div>
</script>
<script type="text/ng-template" id="ratingPopoverTemplate.html">
  <div id="popoverTemplate" class="container">
    <h5>¿Cómo calificas a este transportista?</h5>
    <div class="ec-stars-wrapper">
      <a ng-class="{selected: vm.selectedStar >= 1 }" ng-click="vm.selectStar(1)">&#9733;</a>
      <a ng-class="{selected: vm.selectedStar >= 2 }" ng-click="vm.selectStar(2)">&#9733;</a>
      <a ng-class="{selected: vm.selectedStar >= 3 }" ng-click="vm.selectStar(3)">&#9733;</a>
      <a ng-class="{selected: vm.selectedStar >= 4 }" ng-click="vm.selectStar(4)">&#9733;</a>
      <a ng-class="{selected: vm.selectedStar >= 5 }" ng-click="vm.selectStar(5)">&#9733;</a>
    </div>
  </div>
</script>
<nav-header></nav-header>
<div class="row">
  <div class="col-md-8 col-md-offset-2 padding-top-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Ticket</th>
          <th>Estado</th>
          <th>Empresa</th>
          <th>Monto</th>
          <th>Acciones</th>
          <th>Información del chofer</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="offer in vm.offerList" ng-hide="offer.status !== 'pending'">
          <td>{{offer.ticketId}}</td>
          <td><span class="label label-default">Pendiente</span></td>
          <td>{{offer.companyName}}</td>
          <td>{{offer.offer}}</td>
          <td>
            <a ng-click="vm.acceptTrip(offer)"><span class='glyphicon glyphicon-ok-sign'></span> Aceptar</a> -
            <a ng-click="vm.rejectTrip(offer)"><span class='glyphicon glyphicon-remove-sign'></span> Rechazar</a>
          </td>
          <td>
            <a uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="'outsideClick'"><span class="glyphicon glyphicon-user"></span> Henry González Mora</a>
          </td>
        </tr>
        <tr ng-repeat="offer in vm.offerList" ng-show="(offer.status === 'finished') && (!offer.parentId)">
          <td>{{offer.ticketId}}</td>
          <td><span class="label label-success">Finalizado</span></td>
          <td>{{offer.companyName}}</td>
          <td>{{offer.offer}}</td>
          <td>
            <a uib-popover-template="'ratingPopoverTemplate.html'" popover-placement="right" popover-trigger="'outsideClick'"><span class='glyphicon glyphicon-star'></span> Calificar</a>
          </td>
          <td>
            <a uib-popover-template="'popoverTemplate.html'" popover-placement="right" popover-trigger="'outsideClick'"><span class="glyphicon glyphicon-user"></span> Henry González Mora</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>