<div class="panel panel-primary">
  <div class="panel-heading">
  <h2 class="panel-title">
    #{{vm.trip.ticketId}}<span  ng-if="vm.trip.status !== 'pending'"> - {{vm.trip.companyName}}</span><br>
    {{vm.trip.transport.totalPallets - vm.trip.transport.palletsToUse}} paleta<span ng-show="{{vm.trip.transport.totalPallets - vm.trip.transport.palletsToUse > 1}}">s</span> libre<span ng-show="{{vm.trip.transport.totalPallets - vm.trip.transport.palletsToUse > 1}}">s</span><br>
  </h2>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-filter"></span> {{vm.trip.freight.description}}<br>
    <span class="glyphicon glyphicon-info-sign"></span> {{vm.trip.driverType}}<br>
    <span class="glyphicon glyphicon-time"></span> <strong>Fecha de salida:</strong> {{vm.trip.origin.date | date:"dd/MM/yyyy"}}<br>
    <span class="glyphicon glyphicon-time"></span> <strong>Fecha de llegada:</strong> {{vm.trip.destination.date | date:"dd/MM/yyyy"}}<br>
    <span class="glyphicon glyphicon-export"></span> <strong>Origen:</strong> {{vm.trip.origin.place}}<br>
    <span class="glyphicon glyphicon-import"></span> <strong>Destino:</strong> {{vm.trip.destination.place}}<br>
    <span ng-if="vm.trip.checkpoints"><strong><span class="glyphicon glyphicon-flag"></span> Paradas:</strong></span>
    <div ng-if="vm.trip.status !== 'pending'">
      <span class="glyphicon glyphicon-user"></span> Henry González Mora<br> 
      <span class="glyphicon glyphicon-phone"></span> +506 89128929<br>
    </div>
    <div ng-repeat="checkpoint in vm.trip.checkpoints">
      <span class="glyphicon glyphicon-map-marker"></span> {{checkpoint.place}}<br>
    </div>
    <div class="margin-top-5" ng-if="vm.trip.status === 'accepted'">
      <button class="btn btn-block btn-fifco-balanced" ui-sref="joinTrip({ id: vm.trip.$id })">Unirme a este Viaje</button>
    </div>
  </div>
</div>
