<div class="carriers-list center-x margin-top-5">
  <h1 class="header-text">Oferentes</h1>
  <div class="margin-top-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Representante</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="offerer in vm.carriers | filter:vm.offerersFilter" ui-sref="admin.offerer({id: offerer.$id})">
          <th scope="row">{{$index + 1}}</th>
          <td>{{offerer.companyName || '-' }}</td> <td>{{offerer.name}}</td> <td><span class="label label-success">Activo</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>