<div class="carriers-list center-x margin-top-5">
  <h1 class="header-text">Solicitudes</h1>
  <div class="margin-top-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Representante</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="applicant in vm.carriers | filter:vm.applicantFilter" ui-sref="admin.applicant({id: applicant.$id})">
          <th scope="row">{{$index + 1}}</th>
          <td>{{applicant.companyName || '-' }}</td> <td>{{applicant.name}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>