#map {
  .leaflet-popup-content {
    margin: 0;
  }
  .panel {
    border: none;
    border-radius: 0;
    margin: 0;
  }
  .panel-heading {
    border-radius: 0;
  }
  .leaflet-popup-content-wrapper {
    padding: 0;
  }
}
