<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-8 col-xs-offset-1 col-md-offset-2 container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home">
        <img alt="FIFCO" src="../../../img/logo_fifco_white.png" />
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul ng-if="!vm.admin" class="center-content">
          <li>
            <a ui-sref="home" ng-class="{active: vm.isActive('home')}">HOME</a>
          </li>
          <li>
            <a ui-sref="newTrip" ng-class="{active: vm.isActive('newTrip.step1') || vm.isActive('newTrip.step2') || vm.isActive('newTrip.step3') || vm.isActive('newTrip.step4') || vm.isActive('newTrip.step5')}">NUEVO VIAJE</a>
          </li>
          <li>
            <a ui-sref="notifications" ng-class="{active: vm.isActive('notifications')}">NOTIFICACIONES <span class="badge">{{vm.getPendingTripsCount()}}</span></a>
          </li>
        </ul>
        <ul ng-if="vm.admin">
          <li>
            <a ui-sref="admin.offerers">MIS OFERENTES</a>
          </li>
          <li>
            <a ui-sref="admin.applicants">SOLICITUDES</a>
          </li>
          <li>
            <a ui-sref="admin.pre-selected">PRESELECCIÓN</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
