@import '../../less/variables.less';

nav-header {

  > div {
    background-color: #47494c;
    padding: 20px 0;
    width: 100%;
    margin-left: 0 auto;
    position: relative;

    a, a:hover {
      color: #ffffff;
      text-decoration: none !important;
    }

    img {
      max-height: 50px;
    }

    ul {
      list-style: none;
      display: inline-block;
      right: 0;
      bottom: 15px;
      margin: 0;

      li {
        float: left;
        margin-right: 2em !important;
        color: #ffffff;

        a.active {
          font-weight: bold;
          color: #2196F3;
        }
      }
    }
  }
}
.navbar-toggle {
  background-color: @fifco-light-blue !important;
}
.navbar-toggle .icon-bar {
  background-color: #dadada;
}
.row {
  margin-left: 0px !important; /* to override row bootstrap default styles */
  margin-right: 0px !important; /* to override row bootstrap default styles */
}

@media (max-width: @screen-lg-min) {
    nav-header > div ul {
      display: table-caption !important;
    }
}

@media (min-width: @screen-lg-min) {
  nav-header {
    ul {
      float: none;
    }
    li {
      margin-right: 10px !important;
    }
    .center-content {
      position: absolute;
      top: 20px;
    }
  }
}
