<nav-header></nav-header>
<div class="header-text padding-top-2">
  <h4 class="align-left margin-left-15">UNIRME AL VIAJE > Ticket <span class="text-bold">#{{vm.trip.ticketId}}</span></h4>
</div>
<div class="container padding-top-2 margin-top-2 margin-bottom-5">
  <div class="row">
    <div class="col col-xs-6">
      <div class="row">
        <dl class="dl-horizontal center-x">
          <dt><span class="pull-left text-blue text-bold">{{vm.originDate || '11.02.17'}}</span></dt>
          <dd></dd>
          <dt><span class="pull-left">Salida:</span></dt>
          <dd>Distribución FIFCO <span class="pull-right text-blue text-bold">2:00pm</span></dd>
          <dt><span class="pull-left text-blue text-bold">{{vm.deliveryDate || '12.02.17'}}</span></dt>
          <dd></dd>
          <dt><span class="pull-left">Salida:</span></dt>
          <dd>Distribución FIFCO <span class="pull-right text-blue text-bold">2:00pm</span></dd>
        </dl>
      </div>
      <div class="row center header-text margin-top-5">
        <h5>DESCRIPCI&Oacute;N DE CARGA</h5>
      </div>
      <div class="row center">
        <div class="col col-xs-12">
          <image-option src="../../../img/new-trip/fragil.png" text="Frágil" model="vm.model.freight.description"></image-option>
          <image-option src="../../../img/new-trip/producto-terminado.png" text="Producto Terminado" model="vm.model.freight.description"></image-option>
          <image-option src="../../../img/new-trip/vinos-y-destilados.png" text="V&D" model="vm.model.freight.description"></image-option>
          <image-option src="../../../img/new-trip/refrigeracion.png" text="Refrigeradores" model="vm.model.freight.description"></image-option>
          <image-option src="../../../img/new-trip/materia-prima.png" text="Materia Prima" model="vm.model.freight.description"></image-option>
          <image-option src="../../../img/new-trip/equipo-especial.png" text="Equipo Especial" model="vm.model.freight.description"></image-option>
        </div>
      </div>
      <div class="row center header-text margin-top-5">
        <h5>ESTABLEZCA LA CAPACIDAD A UTILIZAR</h5>
      </div>
      <div class="row">
        <input ng-model="vm.model.transport.palletsToUse" type="range" min="0" max="{{vm.getRemainingPallets()}}" />
        Paletas a utilizar: {{vm.model.transport.palletsToUse}} | Paletas disponibles: {{vm.getRemainingPallets()}}
      </div>
    </div>
    <div class="col col-xs-6">
      <div class="row">
        <dl class="dl-horizontal reduced center-x">
          <dt><span class="pull-left">Carga:</span></dt>
          <dd>Materia prima</dd>
          <dt><span class="pull-left">Transporte:</span></dt>
          <dd>Pesado</dd>
          <dt><span class="pull-left">Dimensión:</span></dt>
          <dd>1 Tonelada</dd>
          <dt><span class="pull-left">Servicio:</span></dt>
          <dd>Con Chofer</dd>
        </dl>
      </div>
      <div class="row margin-top-10">
        <leaflet name="newTrip" width="100%" height="300px" latitude="9.6165768" longitude="-84.1442865" actual-zoom="7" min-zoom="6"
          max-zoom="18" origin="vm.origin" destination="vm.destination"></leaflet>
      </div>
      <div class="row margin-top-10">
        <div class="col col-xs-6">
          <h5 class="header-text">RECOGER</h5>
          <div class="form-group">
            <input class="form-control no-radius" type="text" class="col-xs-12" disabled value="{{vm.origin.geocode.properties.display_name}}"
              placeholder="Lugar" />
          </div>
          <div class="form-group">
            <p class="input-group">
              <input type="text" class="form-control no-radius" uib-datepicker-popup="{{vm.originDatepicker.format}}" ng-model="vm.trip.origin.date"
                is-open="vm.originDatepicker.popup.opened" datepicker-options="vm.originDatepicker.options" ng-required="true"
                close-text="Close" alt-input-formats="vm.originDatepicker.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default no-radius" ng-click="vm.originDatepicker.popup.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="form-group">
            <input class="form-control no-radius" ng-model="vm.model.origin.personInChange.name" type="text" class="col-xs-12" placeholder="Colaborador"
            />
          </div>
          <div class="form-group">
            <input class="form-control no-radius" ng-model="vm.model.origin.personInChange.specificAddress" type="text" class="col-xs-12"
              placeholder="Se&ntilde;as" />
          </div>
        </div>
        <div class="col col-xs-6">
          <h5 class="header-text">ENTREGAR</h5>
          <div class="form-group">
            <input class="form-control no-radius" type="text" class="col-xs-12" disabled value="{{vm.destination.geocode.properties.display_name}}"
              placeholder="Lugar" />
          </div>
          <div class="form-group">
            <p class="input-group">
              <input type="text" class="form-control no-radius" uib-datepicker-popup="{{vm.destinationDatePicker.format}}" ng-model="vm.trip.destination.date"
                is-open="vm.destinationDatePicker.popup.opened" datepicker-options="vm.destinationDatePicker.options" ng-required="true"
                close-text="Close" alt-input-formats="vm.destinationDatePicker.altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default no-radius" ng-click="vm.destinationDatePicker.popup.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <div class="form-group">
            <input class="form-control no-radius" ng-model="vm.model.destination.personInChange.name" type="text" class="col-xs-12" placeholder="Colaborador"
            />
          </div>
          <div class="form-group">
            <input class="form-control no-radius" ng-model="vm.model.destination.personInChange.specificAddress" type="text" class="col-xs-12"
              placeholder="Se&ntilde;as" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center margin-top-5">
    <button class="btn btn-fifco-balanced join-trip-btn" ng-click="vm.generateTicket()">Unirme a este Viaje</button>
  </div>
</div>